<div class="w-full bg-white border border-gray-200 rounded-xl shadow-xl cursor-pointer">
    <div class="w-full h-[250px] bg-white items-center flex justify-center rounded-xl box-border overflow-hidden">
        <img class="rounded-xl w-full h-auto" [src]="store.image" alt="store image" />
    </div>
    <div class="p-5">
        <a>
            <h5 class="!text-lg !font-medium tracking-tight text-gray-900">{{store.description}}</h5>
        </a>
        <div class="flex items-center mt-2.5 mb-5">
            <div class="flex items-center space-x-1 rtl:space-x-reverse" matTooltip="Avaliações de clientes" matTooltipPosition="after">
                @if(store.stars != 0) {
                    @for (star of stars; track $index) {
                        <svg class="w-4 h-4 {{star ? 'text-yellow-300' : 'text-gray-200'}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>
                    }
                    <!-- <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded ms-3">{{getStarsQuantity()}}</span> -->
                } @else {
                    <span class="text-gray-400">Sem avaliações</span>
                }
            </div>
        </div>
        <div class="flex items-center justify-between">
            <!-- <span class="text-3xl font-bold text-gray-900">R$ {{store.price}}</span> -->
            <button mat-stroked-button color="primary" class="w-full" (click)="redirectTo()">Ver loja</button>
        </div>
    </div>
</div>
