<footer class="w-full min-h-[400px] bg-slate-900 mt-16 text-white p-20">
    <div class="justify-center flex items-center mb-20">
        <img src="./assets/img/logo/logo3.png" class="h-[150px]">
    </div>
    <div class="flex justify-around items-start">
        <div class="flex flex-col max-w-[200px]">
            <h1 class="!text-[16px] !font-bold">Links</h1>
            <p class="text-xs">Início</p>
            <p class="text-xs">Lojas</p>
            <p class="text-xs">Produtos</p>
            <p class="text-xs">Favoritos</p>
            <p class="text-xs">Chat</p>
            <p class="text-xs">Login</p>
        </div>
        <div class="flex flex-col max-w-[200px]">
            <h1 class="!text-[16px] !font-bold">Departamentos</h1>
            <p class="text-xs">Computadores</p>
            <p class="text-xs">Periféricos</p>
            <p class="text-xs">Teclado e Mouse</p>
            <p class="text-xs">Monitores</p>
            <p class="text-xs">Console e Games</p>
            <p class="text-xs">TV</p>
            <p class="text-xs">Áudio</p>
        </div>
        <div class="flex flex-col max-w-[200px]">
            <h1 class="!text-[16px] !font-bold">Serviços</h1>
            <p class="text-xs">Manutenção Preventiva</p>
            <p class="text-xs">Manutenção Corretiva</p>
            <p class="text-xs">Formatação</p>
            <p class="text-xs">Configuração do Sistema</p>
            <p class="text-xs">Instalação de Programas</p>
        </div>
        <div class="flex flex-col max-w-[200px]">
            <h1 class="!text-[16px] !font-bold">Institucional</h1>
            <p class="text-xs">Sobre</p>
            <p class="text-xs">Trabalhe Conosco</p>
            <p class="text-xs">Políticas do Site e Marketplace</p>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-col max-w-[200px]">
                <h1 class="!text-[16px] !font-bold">Atendimento</h1>
                <p class="text-xs">Horário de atendimento: 08:00 às 20:00 - Segunda à Sábado, Horário de Brasília (Exceto domingo e feriados)</p>
                <p class="text-xs">Endereço: Rua J da Penha 774 - AP 08</p>
            </div>
            <div class="flex flex-col max-w-[200px]">
                <h1 class="!text-[16px] !font-bold">Email</h1>
                <p class="text-xs">{{'faleconosco@fortalezaonlineshopping.com'}}</p>
            </div>
            <div class="flex flex-col max-w-[200px]">
                <h1 class="!text-[16px] !font-bold">Chat</h1>
                <p class="text-xs">Iniciar atendimento</p>
            </div>
        </div>
    </div>
</footer>