/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Ubuntu", Roboto, "Helvetica Neue", sans-serif; }
@tailwind base;
@tailwind components;
@tailwind utilities;

.descriptionCard {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    word-break: break-word !important;
    max-height: 3.375rem !important;
    font-size: 0.873rem !important;
    line-height: 1.125rem !important;
    font-weight: 500 !important;
    margin-top: 0.5rem !important;
    color: rgb(66, 70, 77) !important;
    min-height: 3.375rem !important;
}